.home {
    font-family: 'Bebas Neue', cursive;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("https://images.pexels.com/photos/63294/autos-technology-vw-multi-storey-car-park-63294.jpeg?cs=srgb&dl=pexels-pixabay-63294.jpg&fm=jpg");
    background-size: cover;
}

    .home > p {
        font-size: 40px;
        font-family: 'Permanent Marker', cursive;
    }

.homeTitle {
    font-size: 80px;
    position: absolute;
    top: 60px;
}

.userButton {
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.adminButton {
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}