
html {
    color: aliceblue;
}

.container {
    text-align: center;
    font-size: large;
}

input {
    width: 100%;
    padding: 16px 8px;
    margin: 20px;
    border: 1px solid aliceblue;
    box-sizing: border-box;
}

button {
    background-color: orange;
    color: aliceblue;
    padding: 20px;
    cursor: grabbing;
}

button:hover {
    background-color: black;
}

body {
    background-image: url(images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: centre;
}