.manageaccounts {
    border: 5px solid;
    border-radius: 10px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    content: "\a";
}

.registerButton {
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    margin-top: 20px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 10px;
    background-color: white;
}

.manageAccountsReturnButton {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    cursor: pointer;
    border: solid 5px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
}