.login {
    font-family: 'Space Mono', monospace;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/105194/pexels-photo-105194.jpeg?cs=srgb&dl=pexels-erik-scheel-105194.jpg&fm=jpg");
    background-size: cover;
}

    .login > p {
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
    }

.loginTitle {
    font-size: 80px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

    .loginForm > label {
        font-family: 'Space Mono', monospace;
        font-size: 25px;
        margin: 10px 0;
    }

.loginInput {
    font-family: 'Space Mono', monospace;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
}

.loginButton {
    font-family: 'Space Mono', monospace;
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: solid 5px;
    border-radius: 10px;
    background-color: white;
}

    .loginButton:disabled {
        cursor: not-allowed;
    }

.loginRegisterButton {
    font-family: 'Space Mono', monospace;
    font-size: 50px;
    cursor: pointer;
    border: solid 5px;
    border-radius: 10px;
    background-color: white;
}

#or {
    font-family: 'Space Mono', monospace;
}
